<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		">  
	<!-- dep -->
	<bean id="depBiz" class="org.cn.kkl.erp.biz.impl.DepBiz">
		<property name="depDao" ref="depDao"></property>
	</bean>
	
	<!-- emp -->
	<bean id="empBiz" class="org.cn.kkl.erp.biz.impl.EmpBiz">
		<property name="empDao" ref="empDao"></property>
	</bean>
	
	<!-- goodsType -->
	<bean id="goodsTypeBiz" class="org.cn.kkl.erp.biz.impl.GoodsTypeBiz">
		<property name="goodsTypeDao" ref="goodsTypeDao"></property>
	</bean>
	
	<!-- goods -->
	<bean id="goodsBiz" class="org.cn.kkl.erp.biz.impl.GoodsBiz">
		<property name="goodsDao" ref="goodsDao"></property>
	</bean>
	
	<!-- goods -->
	<bean id="storeBiz" class="org.cn.kkl.erp.biz.impl.StoreBiz">
		<property name="storeDao" ref="storeDao"></property>
	</bean>
	
	<!-- inventory -->
	<bean id="inventoryBiz" class="org.cn.kkl.erp.biz.impl.InventoryBiz">
		<property name="inventoryDao" ref="inventoryDao"></property>
	</bean>
	
	<!-- menu -->
	<bean id="menuBiz" class="org.cn.kkl.erp.biz.impl.MenuBiz">
		<property name="menuDao" ref="menuDao"></property>
	</bean>
	
	<!-- role -->
	<bean id="roleBiz" class="org.cn.kkl.erp.biz.impl.RoleBiz">
		<property name="roleDao" ref="roleDao"></property>
	</bean>
	
</beans>
	
